.venv/
.env*
.flaskenv*
!.env.project
!.env.vault
frontend/node_modules/
frontend/.angular/
frontend/dist/
backend/__pycache__/
.vscode/
.idea/
logs/
logs/**
tests/node_modules/
tests/artifacts/
tests/playwright-report/
tests/test-results/
tests/logs/
scripts/
