<mat-sidenav-container class="layout">
    <mat-sidenav
      #snav
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="!(isHandset$ | async)"
      class="sidenav"
    >
      <mat-toolbar class="sidenav__header">
        <img src="./logo.png" alt="TripShare Logo" class="logo" />
      </mat-toolbar>

      <div class="nav-container">
        <mat-nav-list class="nav">
          <a mat-list-item routerLink="/app/trips" routerLinkActive="active"
             *ngIf="!(isHandset$ | async); else tripsMobile">
            <mat-icon matListItemIcon>receipt_long</mat-icon>
            <span matListItemTitle>Trips</span>
          </a>
          <ng-template #tripsMobile>
            <a mat-list-item routerLink="/app/trips" routerLinkActive="active" (click)="snav.close()">
              <mat-icon matListItemIcon>receipt_long</mat-icon>
              <span matListItemTitle>Trips</span>
            </a>
          </ng-template>

          <a mat-list-item routerLink="/app/settings" routerLinkActive="active"
             *ngIf="!(isHandset$ | async); else settingsMobile">
            <mat-icon matListItemIcon>settings</mat-icon>
            <span matListItemTitle>Settings</span>
          </a>
          <ng-template #settingsMobile>
            <a mat-list-item routerLink="/app/settings" routerLinkActive="active" (click)="snav.close()">
              <mat-icon matListItemIcon>settings</mat-icon>
              <span matListItemTitle>Settings</span>
            </a>
          </ng-template>
          
          <a mat-list-item routerLink="/app/contact" routerLinkActive="active"
             *ngIf="!(isHandset$ | async); else contactMobile">
            <mat-icon matListItemIcon>contact_mail</mat-icon>
            <span matListItemTitle>Contact Us</span>
          </a>
          <ng-template #contactMobile>
            <a mat-list-item routerLink="/app/contact" routerLinkActive="active" (click)="snav.close()">
              <mat-icon matListItemIcon>contact_mail</mat-icon>
              <span matListItemTitle>Contact Us</span>
            </a>
          </ng-template>
        </mat-nav-list>

        <!-- User Profile & Logout Section -->
        <div class="user-section">
          <mat-divider></mat-divider>
          
          <div class="user-info" *ngIf="getCurrentUser() as user">
            <mat-icon class="user-avatar">account_circle</mat-icon>
            <div class="user-details">
              <span class="username">{{ user.username }}</span>
              <span class="login-time">{{ user.loginTime | date:'short' }}</span>
            </div>
          </div>
          
          <button mat-list-item (click)="logout()" class="logout-btn"
                  *ngIf="!(isHandset$ | async); else logoutMobile">
            <mat-icon matListItemIcon>logout</mat-icon>
            <span matListItemTitle>Logout</span>
          </button>
          <ng-template #logoutMobile>
            <button mat-list-item (click)="logout(); snav.close()" class="logout-btn">
              <mat-icon matListItemIcon>logout</mat-icon>
              <span matListItemTitle>Logout</span>
            </button>
          </ng-template>
        </div>
      </div>
    </mat-sidenav>

    <mat-sidenav-content>
     <main class="content">
        <router-outlet></router-outlet>
      </main>
    </mat-sidenav-content>

  </mat-sidenav-container>